<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>DTP concentrations map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoidHVyYm9sdW1weSIsImEiOiJja3ptaGRpcngwMDg3MnNwZjZ6YXNuaXJyIn0.mDsP4nrcOwI6O7xKAsliZQ';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v11',
        center: [30.335784,59.933943],
        zoom: 15
    });
    async function fetchPointsJSON() {
  const response = await fetch('/api/v1/concentrationpoints/');
  const points = await response.json();
  return points;
}
let drawMap = (geojson)=>{
  map.on('load', () => {
        map.addSource('DTP concentrations', {
            'type': 'geojson',
            'data': geojson
        });

        map.addLayer({
            'id': 'polygons',
            'type': 'fill',
            'source': 'DTP concentrations',
            'paint': {
                'fill-color': 'red',
                'fill-opacity': 0.3
            },
            'filter': ['==', '$type', 'Polygon']
        });
    });
}
fetchPointsJSON().then(
    polys=>{
        let geojson = {
            'type': 'FeatureCollection',
            'features':[]
        };
        polys.forEach(poly=>{
            geojson.features.push(
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [poly.coordinates]
                    }
                }
            )

        })
         return geojson
    }
).then(geojson=> {
    drawMap(geojson)
})
</script>
</body>
</html>